*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #FFFFFF;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 10;
}

#navbar {
    width: 100%;
    height: 44px;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;

    .navbar__logo {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding-right: 15px;
        padding-bottom: 10px;
        cursor: pointer;
        z-index: 1;
    }

    ul {
        display: flex;
        height: 44px;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;

        li {
            height: 100%;
            color: #FFFFFF;
            list-style: none;
            font-size: 18px;

            svg {
                fill: #FFFFFF;
                transition: transform 0.1s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &:nth-child(1) {
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                padding-left: 15px;
                padding-top: 8px;

                svg:hover {
                    fill: #0396DE;
                }
            }

            &:nth-child(2) {
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                padding-right: 15px;
                padding-top: 8px;

                svg:hover {
                    fill: #2AA61B;
                }
            }

            &:nth-child(3) {
                line-height: 44px;
            }

        }
    }
}

.linear-gradient {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.img {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    object-position: top;
}

.location-card {
    position: absolute;
    height: 22px;
    background: conic-gradient(#191919 1deg 70deg, #000000 70deg 250deg, #191919 250deg 360deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    z-index: 2;
    padding: 3px 4px;
    border: none;
    cursor: pointer;
    transition: height 0.3s ease-in-out;

    &__symbol {
        background-color: #FFFFFF;
        color: #000000;
        font-size: 12px;
        padding: 2px;
        font-weight: 600;
    }

    &__title {
        font-size: 16px;
        margin-left: 5px;
        font-weight: 500;
        margin: 0 10px;
    }

    &__btn {
        height: 25px;
        width: 90%;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        color: #191919;
        padding: 1px;
        border-radius: 6px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out;
        ;

        span {
            width: 100%;
            font-size: 16px;
            line-height: 14px;
        }

        svg {
            width: 30px;
            height: 25px;
            background-color: #000000;
            border-radius: 6px;
        }
    }

    &:hover {
        height: 60px;
        border-radius: 6px;

        .location-card__btn {
            opacity: 1;
            visibility: visible;
        }
    }

    &:nth-child(1) {
        top: 25%;
        left: 50%;
    }

    &:nth-child(2) {
        top: 55%;
        left: 33%;
    }

    &:nth-child(3) {
        bottom: 25%;
        left: 70%;
    }

    &:nth-child(4) {
        top: 62%;
        left: 10%;
    }
}


.brochure__btn {
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 44px;
    bottom: 80px;
    left: 80px;
    padding: 5px 30px;
    margin-top: auto;

    background: conic-gradient(#191919 1deg 70deg, #000000 70deg 250deg, #191919 250deg 360deg);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    border: none;
    z-index: 2;

    svg {
        fill: #000;
        margin-left: 20px;
    }

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out 0.3s;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.close {
        opacity: 0;
        visibility: hidden;
    }

    &__box {
        position: relative;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        margin: 0 20px;
        transition: transform 0.3s ease-in-out;

        &_card {
            position: relative;
            max-width: 400px;
            min-height: 440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding: 0 25px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 450px;
                max-height: 435px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-title {
                font-family: 'Times New Roman', Times, serif;
                font-size: 45px;
                line-height: 45px;
                text-transform: capitalize;
                text-align: center;
                font-style: italic;
                font-weight: 400;
                z-index: 1;
            }

            &-text {
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                text-align: center;
                z-index: 1;
            }

            &-links {
                display: flex;
                gap: 30px;
                align-items: center;
                justify-content: center;
                z-index: 1;

                &-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
                    cursor: pointer;
                    transition: transform 0.1s ease-in-out;

                    svg {
                        width: 25px;
                        height: 25px;
                        fill: #FFFFFF;
                    }

                    &:nth-child(1):hover {
                        color: #0396DE;
                        transform: scale(1.01);

                        svg {
                            fill: #0396DE;
                        }
                    }

                    &:nth-child(2):hover {
                        color: #2AA61B;
                        transform: scale(1.01);

                        svg {
                            fill: #2AA61B;
                        }
                    }
                }
            }
        }

        &_form {
            max-width: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            input {
                background-color: #000000;
                padding: 10px;
                border: none;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 300;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                &::placeholder {
                    font-size: 18px;
                    font-weight: 300;
                    color: #FFFFFF;
                }
            }

            button {
                width: 100%;
                height: 50px;
                background-color: #FFFFFF;
                color: #000000;
                font-size: 18px;
                font-weight: 400;
                border: none;
                cursor: pointer;
            }
        }
    }

    &__sphere {
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__close-btn {
        position: absolute;
        top: -30px;
        right: -50px;
        border: none;
        background-color: transparent;
        padding: 5px;

        svg {
            width: 25px;
            height: 25px;
            cursor: pointer;
            fill: #FFFFFF;
        }

        &-sphere {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 10px;
            top: -40px;
            right: 0;
            background: unset;
            text-align: center;
            border: none;

            span {
                color: #FFFFFF;
                font-size: 16px;

                &:nth-child(1) {
                    border: 1px solid white;
                    padding: 0 5px;
                }
            }

            svg {
                width: 25px;
                height: 25px;
                cursor: pointer;
                fill: #FFFFFF;
            }
        }
    }
}

.bg-black {
    background-color: #000000;
}

.size-md {
    max-width: 900px;
    width: 100%;
}

.size-lg {
    max-width: 90%;
    max-height: 80%;
    height: 100%;
    width: 100%;
}

.viewer {
    width: 100%;
    height: 100%;
    z-index: 100;
}


.menu {
    position: fixed;
    max-width: 300px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: -400px;
    padding: 100px 0px 0px 50px;
    border-radius: 0 0 0 100%;
    z-index: 3;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;

    &.active {
        right: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        li a {
            width: fit-content;
            background-color: #FFFFFF;
            border-radius: 6px;
            display: flex;
            padding: 3px 5px;
            align-items: center;
            gap: 5px;

            span {
                font-size: 16px;
                color: #000000;
            }
        }
    }
}

.ham-menu {
    display: none;
    height: 50px;
    width: 35px;
    margin-left: auto;
    position: relative;
    z-index: 4;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 4;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: rgba(255, 255, 255, 0.7);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 1050px) {
    .location-card {
        height: 20px;
        padding: 2px;

        &__symbol {
            font-size: 10px;
            margin-right: auto;
        }

        &__title {
            font-size: 10px;
        }

        &__btn {
            height: 20px;

            span {
                font-size: 10px;
            }

            svg {
                width: 25px;
                height: 20px;
            }
        }

        &:hover {
            height: 50px;
        }
    }

    .brochure__btn {
        height: 30px;
        padding: 5px 20px;
        font-size: 14px;
        bottom: 60px;
        left: 60px;

        svg {
            width: 15px;
            height: 15px;
        }
    }

    #navbar {
        ul li {
            font-size: 16px;
        }
    }

    .modal {
        &__box {
            flex-direction: column;
        }

        &__close-btn {
            top: -50px;
            right: 0;
        }
    }
}

@media (max-width: 768px) {
    #navbar ul li {
        display: none;
    }

    .modal__box {
        &_card {
            max-width: 300px;
            min-height: 335px;

            img {
                max-width: 350px;
                max-height: 335px;
            }

            &-title {
                font-size: 35px;
                line-height: 35px;
            }

            &-text {
                font-size: 14px;
                line-height: 20px;
            }

            &-links-item {
                span {
                    font-size: 14px;
                }

                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        &_form {
            max-width: 350px;
            gap: 20px;

            input {
                font-size: 14px;
            }

            button {
                height: 45px;
                font-size: 16px;
            }
        }
    }

    .ham-menu {
        display: block;
    }
}

@media (max-width: 450px) {
    .location-card {
        height: 20px;
        padding: 2px;

        &:nth-child(2) {
            top: 50%;
            left: 10%;
        }

        &:nth-child(4) {
            top: 65%;
            left: 5%;
        }

    }

    .brochure__btn {
        height: 25px;
        padding: 5px 15px;
        font-size: 12px;
        bottom: 40px;
        left: 40px;

        svg {
            width: 15px;
            height: 15px;
        }
    }
}