*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #FFFFFF;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 10;
}

#navbar {
  width: 100%;
  height: 44px;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
#navbar .navbar__logo {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 1;
}
#navbar ul {
  display: flex;
  height: 44px;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}
#navbar ul li {
  height: 100%;
  color: #FFFFFF;
  list-style: none;
  font-size: 18px;
}
#navbar ul li svg {
  fill: #FFFFFF;
  transition: transform 0.1s ease-in-out;
}
#navbar ul li svg:hover {
  transform: scale(1.1);
}
#navbar ul li:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 15px;
  padding-top: 8px;
}
#navbar ul li:nth-child(1) svg:hover {
  fill: #0396DE;
}
#navbar ul li:nth-child(2) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 15px;
  padding-top: 8px;
}
#navbar ul li:nth-child(2) svg:hover {
  fill: #2AA61B;
}
#navbar ul li:nth-child(3) {
  line-height: 44px;
}

.linear-gradient {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.img {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.location-card {
  position: absolute;
  height: 22px;
  background: conic-gradient(#191919 1deg 70deg, #000000 70deg 250deg, #191919 250deg 360deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  z-index: 2;
  padding: 3px 4px;
  border: none;
  cursor: pointer;
  transition: height 0.3s ease-in-out;
}
.location-card__symbol {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 12px;
  padding: 2px;
  font-weight: 600;
}
.location-card__title {
  font-size: 16px;
  margin-left: 5px;
  font-weight: 500;
  margin: 0 10px;
}
.location-card__btn {
  height: 25px;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  color: #191919;
  padding: 1px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}
.location-card__btn span {
  width: 100%;
  font-size: 16px;
  line-height: 14px;
}
.location-card__btn svg {
  width: 30px;
  height: 25px;
  background-color: #000000;
  border-radius: 6px;
}
.location-card:hover {
  height: 60px;
  border-radius: 6px;
}
.location-card:hover .location-card__btn {
  opacity: 1;
  visibility: visible;
}
.location-card:nth-child(1) {
  top: 25%;
  left: 50%;
}
.location-card:nth-child(2) {
  top: 55%;
  left: 33%;
}
.location-card:nth-child(3) {
  bottom: 25%;
  left: 70%;
}
.location-card:nth-child(4) {
  top: 62%;
  left: 10%;
}

.brochure__btn {
  position: absolute;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
  bottom: 80px;
  left: 80px;
  padding: 5px 30px;
  margin-top: auto;
  background: conic-gradient(#191919 1deg 70deg, #000000 70deg 250deg, #191919 250deg 360deg);
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  border: none;
  z-index: 2;
}
.brochure__btn svg {
  fill: #000;
  margin-left: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out 0.3s;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal.close {
  opacity: 0;
  visibility: hidden;
}
.modal__box {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  margin: 0 20px;
  transition: transform 0.3s ease-in-out;
}
.modal__box_card {
  position: relative;
  max-width: 400px;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 25px;
}
.modal__box_card img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  max-height: 435px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__box_card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  line-height: 45px;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  z-index: 1;
}
.modal__box_card-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  z-index: 1;
}
.modal__box_card-links {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal__box_card-links-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.modal__box_card-links-item svg {
  width: 25px;
  height: 25px;
  fill: #FFFFFF;
}
.modal__box_card-links-item:nth-child(1):hover {
  color: #0396DE;
  transform: scale(1.01);
}
.modal__box_card-links-item:nth-child(1):hover svg {
  fill: #0396DE;
}
.modal__box_card-links-item:nth-child(2):hover {
  color: #2AA61B;
  transform: scale(1.01);
}
.modal__box_card-links-item:nth-child(2):hover svg {
  fill: #2AA61B;
}
.modal__box_form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal__box_form input {
  background-color: #000000;
  padding: 10px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.modal__box_form input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
}
.modal__box_form input::placeholder {
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
}
.modal__box_form button {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.modal__sphere {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal__close-btn {
  position: absolute;
  top: -30px;
  right: -50px;
  border: none;
  background-color: transparent;
  padding: 5px;
}
.modal__close-btn svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: #FFFFFF;
}
.modal__close-btn-sphere {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: -40px;
  right: 0;
  background: unset;
  text-align: center;
  border: none;
}
.modal__close-btn-sphere span {
  color: #FFFFFF;
  font-size: 16px;
}
.modal__close-btn-sphere span:nth-child(1) {
  border: 1px solid white;
  padding: 0 5px;
}
.modal__close-btn-sphere svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: #FFFFFF;
}

.bg-black {
  background-color: #000000;
}

.size-md {
  max-width: 900px;
  width: 100%;
}

.size-lg {
  max-width: 90%;
  max-height: 80%;
  height: 100%;
  width: 100%;
}

.viewer {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.menu {
  position: fixed;
  max-width: 300px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: -400px;
  padding: 100px 0px 0px 50px;
  border-radius: 0 0 0 100%;
  z-index: 3;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}
.menu.active {
  right: 0;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.menu ul li a {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFFFFF;
  border-radius: 6px;
  display: flex;
  padding: 3px 5px;
  align-items: center;
  gap: 5px;
}
.menu ul li a span {
  font-size: 16px;
  color: #000000;
}

.ham-menu {
  display: none;
  height: 50px;
  width: 35px;
  margin-left: auto;
  position: relative;
  z-index: 4;
}

.ham-menu span {
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 4;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span {
  background-color: rgba(255, 255, 255, 0.7);
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 1050px) {
  .location-card {
    height: 20px;
    padding: 2px;
  }
  .location-card__symbol {
    font-size: 10px;
    margin-right: auto;
  }
  .location-card__title {
    font-size: 10px;
  }
  .location-card__btn {
    height: 20px;
  }
  .location-card__btn span {
    font-size: 10px;
  }
  .location-card__btn svg {
    width: 25px;
    height: 20px;
  }
  .location-card:hover {
    height: 50px;
  }
  .brochure__btn {
    height: 30px;
    padding: 5px 20px;
    font-size: 14px;
    bottom: 60px;
    left: 60px;
  }
  .brochure__btn svg {
    width: 15px;
    height: 15px;
  }
  #navbar ul li {
    font-size: 16px;
  }
  .modal__box {
    flex-direction: column;
  }
  .modal__close-btn {
    top: -50px;
    right: 0;
  }
}
@media (max-width: 768px) {
  #navbar ul li {
    display: none;
  }
  .modal__box_card {
    max-width: 300px;
    min-height: 335px;
  }
  .modal__box_card img {
    max-width: 350px;
    max-height: 335px;
  }
  .modal__box_card-title {
    font-size: 35px;
    line-height: 35px;
  }
  .modal__box_card-text {
    font-size: 14px;
    line-height: 20px;
  }
  .modal__box_card-links-item span {
    font-size: 14px;
  }
  .modal__box_card-links-item svg {
    width: 22px;
    height: 22px;
  }
  .modal__box_form {
    max-width: 350px;
    gap: 20px;
  }
  .modal__box_form input {
    font-size: 14px;
  }
  .modal__box_form button {
    height: 45px;
    font-size: 16px;
  }
  .ham-menu {
    display: block;
  }
}
@media (max-width: 450px) {
  .location-card {
    height: 20px;
    padding: 2px;
  }
  .location-card:nth-child(2) {
    top: 50%;
    left: 10%;
  }
  .location-card:nth-child(4) {
    top: 65%;
    left: 5%;
  }
  .brochure__btn {
    height: 25px;
    padding: 5px 15px;
    font-size: 12px;
    bottom: 40px;
    left: 40px;
  }
  .brochure__btn svg {
    width: 15px;
    height: 15px;
  }
}/*# sourceMappingURL=style.css.map */